@model Hospital.Models.ViewModelHome

@{
    ViewBag.Title = "Index";
}

@section style{
    <title>@Hospital.Resources.Resource.Doctors</title>
    <link rel="stylesheet" href="~/Public/css/doctors/doctors.css" />
}

<!-- Content Starts -->
<main>
    <!-- Background Image Starts -->
    <section style="background-image:url('../../Public/img/global/header.jpg')" class="p-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="contactH">@Hospital.Resources.Resource.Doctors</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- Bakcground Image Ends -->
    <!-- Doctors Start -->
    <section>
        <div class="container">
            @*<div class="row my-5">
                <div class="col-12">
                    <div class="select">
                        <select name="slct" id="slct">
                            <option selected disabled>@Hospital.Resources.Resource.Departments</option>
                            @foreach (var department in Model.Departments)
                            {
                                <option class="departmentOption">
                                    <p>@department.Id</p>
                                    <p>
                                        @if (ViewBag.cult == "en")
                                        {
                                            @department.NameEng
                                        }
                                        else if (ViewBag.cult == "az")
                                        {
                                            @department.NameAz
                                        }
                                    </p>
                                </option>
                            }

                        </select>
                    </div>
                </div>
            </div>*@
            <div class="row flex-wrap my-5">
                @foreach (var doctor in Model.Doctors)
                {
                    <div class="col-md-3 col-12 mb-5">
                        <div class="doctorCard">
                            <div class="row">
                                <div class="col-12">
                                    <a href="@Url.Action("One","Doctor",new { Id = doctor.Id})" target="_blank">
                                        <div class="imgHolder">
                                            <img src="~/Uploads/Doctors/@doctor.Photo" alt="@doctor.Name @doctor.Surname">
                                            <div class="overlay">
                                                <i class="fas fa-plus"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-12">
                                    <a href="" class="doctorName">Dr. @doctor.Name @doctor.Surname</a>
                                </div>
                                <div class="col-12">
                                    <small class="doctorSpec">
                                        @if (ViewBag.cult == "en")
                                        {
                                            @doctor.Departments.NameEng
                                        }
                                        else if (ViewBag.cult == "az")
                                        {
                                            @doctor.Departments.NameAz
                                        }
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- Doctors End -->
</main>
<!-- Content Ends -->

@section script{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>

        $('.departmentOption').click(function () {

            var _this = this;
            console.log("asdadasdasdasd");


            //swal({
            //    title: "Are you sure?",
            //    text: "Once deleted, you will not be able to recover this  file!",
            //    icon: "warning",
            //    buttons: true,
            //    dangerMode: true,
            //})
            //    .then((willDelete) => {
            //        if (willDelete) {

            //            var myId = _this.parentElement.parentElement.firstElementChild.innerHTML;
            //            $.ajax({
            //                url: "Nurse/Delete",
            //                type: "GET",
            //                data: ({ Id: myId })
            //            });
            //            location.reload();
            //        }
            //    });
        });

    </script>

}
