@model List<Hospital.Models.Appointments>

@{
    ViewBag.Title = "Schedule";
}

@section style{
    <title>Schedule of @Model.FirstOrDefault().Doctors.Name @Model.FirstOrDefault().Doctors.Surname </title>
    <link rel="stylesheet" href="~/Public/css/schedule/schedule.css">
}

<main>
    <!-- Background Image Starts -->
    <section style="background-image:url('../../Public/img/global/header.jpg')" class="p-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="contactH">@Hospital.Resources.Resource.DoctorSchedule</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- Bakcground Image Ends -->
    <!-- Table Starts -->
    <section>
        <div class="container">
            <div class="row my-5">
                <div class="col-12">
                    <h1 class="doctorName">Dr. @Model.FirstOrDefault().Doctors.Name @Model.FirstOrDefault().Doctors.Surname</h1>
                </div>
                <div class="col-12">
                    <a href="@Url.Action("One","Doctor",new {Id = Model.FirstOrDefault().Doctors.Id })" class="profile"><i class="fas fa-stethoscope"></i> @Hospital.Resources.Resource.ViewProfile</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">@Hospital.Resources.Resource.PatientName</th>
                                <th scope="col">@Hospital.Resources.Resource.Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Time</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!-- Table Ends -->
</main>
