@model Hospital.Models.Departments

@{
    ViewBag.Title = "One";
}

@section style{
    <title>@Model.NameAz</title>
    <link href="~/Public/css/departments/one.css" rel="stylesheet" />
}

<!-- Content Starts -->
<main>
    <!-- Background Image Starts -->
    <section style="background-image:url('../../Public/img/global/header.jpg')" class="p-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="contactH">@Hospital.Resources.Resource.Departments</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- Bakcground Image Ends -->

    <section>
        <div class="container">
            <div class="row my-5">
                <div class="col-md-4 col-12">
                    <div class="imgHolder">
                        <img src="~/Uploads/Departments/@Model.Photo" alt="@Model.NameEng">
                    </div>
                </div>
                <div class="col-md-8 col-12 pl-5">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="oneH">@if (ViewBag.cult == "en")
                            {
                                @Model.NameEng
                            }
                            else if (ViewBag.cult == "az")
                            {
                                @Model.NameAz
                            }</h1>
                        </div>
                        <div class="col-12 my-3">
                            <p style="color:#555555">
                                @if (ViewBag.cult == "en")
                                {
                                    @Model.DesEng
                                }
                                else if (ViewBag.cult == "az")
                                {
                                    @Model.DesAz
                                }
                                </p>
                        </div>
                        <div class="col-12">
                            <ul class="oneUl">
                                <li><i class="fas fa-envelope"></i> Hospital@Hospital.com</li>
                                <li><i class="fas fa-phone"></i> +333 444 55 66</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Content Ends -->
