@model Hospital.Models.ViewModelHome

@{
    ViewBag.Title = "Index";
}

@section style{
    <title>@Hospital.Resources.Resource.Contact</title>
    <link href="~/Public/css/contact/contact.css" rel="stylesheet" />
}

<!-- Content Starts -->
<main>
    <!-- Background Image Starts -->
    <section style="background-image:url('../../Public/img/global/header.jpg')" class="p-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="contactH">@Hospital.Resources.Resource.Contact</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- Bakcground Image Ends -->
    <!-- Map Starts -->
    <section>
        <div class="container">
            <div class="row my-5">
                <div class="col-12">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="1300" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Davis&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <a href="https://www.embedgooglemap.net/blog/best-wordpress-themes/">embedgooglemap.net</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Map Ends -->

    <section class="mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-12">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="touchH">
                                @Hospital.Resources.Resource.GetInTouch
                            </h2>
                        </div>
                        <div class="col-12">
                            <p style="color:#555555;font-family:'Lato',sans-serif">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque egestas congue quisque egestas diam in arcu. Ornare massa eget egestas purus viverra accumsan.
                            </p>
                        </div>
                        <div class="col-12">
                            <p style="color:#555555;font-family:'Lato',sans-serif">
                                Congue mauris rhoncus aenean vel. Pellentesque habitant morbi tristique senectus et. Sed sed risus pretium quam vulputate. Egestas sed tempus urna et pharetra. Diam in arcu cursus euismod. Adipiscing at in tellus integer feugiat.
                            </p>
                        </div>
                        <div class="col-12 mt-5 mb-2">
                            <h4 class="infoH">Contact <strong>INFO</strong></h4>
                        </div>
                        <div class="col-12 contactDetails">
                            <ul>
                                <li><i class="fas fa-envelope"></i> @Model.Setting.Email</li>
                                <li><i class="fas fa-phone"></i> @Model.Setting.Phone</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <!-- User Message Starts -->
                    <form onsubmit="return validateForm()" method="POST" action="@Url.Action("Create","Message")">
                        @Html.AntiForgeryToken()
                        <div class="col-12">
                            <div class="form-group">
                                <label for="name">@Hospital.Resources.Resource.FullName</label>
                                <input type="text" class="form-control" id="name" placeholder="Name" name="Name">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="email">@Hospital.Resources.Resource.EmailAddress</label>
                                <input type="email" class="form-control" id="email" placeholder="Email" name="Email">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="phone">@Hospital.Resources.Resource.PhoneNumber</label>
                                <input type="text" class="form-control" id="phone" placeholder="Phone" name="Phone">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="message">@Hospital.Resources.Resource.Message</label>
                                <textarea name="Message" id="message"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="submit">@Hospital.Resources.Resource.Submit</button>
                        </div>
                    </form>
                    <!-- User Message Ends -->
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Content Ends -->


@section script{
    <!-- CKEditor Starts -->
    <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('Message');
    </script>
    <!-- CKEditoor Ends -->
    <!-- Page Level JS Starts -->
    <script src="~/Public/js/contact/contact.js"></script>
    <!-- Page Level JS Ends -->
}
